<!DOCTYPE html>
<html>
  <head>
    <title>Photo Album Angular</title>
  </head>
  <body ng-app='photoAlbum'>
    <div class='jumbotron'>
      <div class='container'>
        <h1>Photo Album</h1>
      </div>
    </div>

    <div class='container' ng-controller='ImagesController'>
      <div class='row'>

        <div class='col-md-4' >

          <form id='submitForm' class='newImageForm'>
            <h4>Add your own image!</h4>
            <div class="form-group">
              <label for="title">Image Title</label><input type='text' name='title' ng-model='addImageTitle'/>
            </div>
            <div class="form-group">
              <label for="url">Url</label><input type='text' name='url' ng-model='addImageUrl'/>
            </div>
            <button type="submit" class="btn btn-default" ng-click='addNewImage()'>Submit</button>
          </form>

          <ul class='list-group'>
            <li class='list-group-item' ng-repeat='image in images | orderBy : "rating" : true' ng-click='display(image)'>
              <span class="imageName">{{image.name}}</span>
              <span class="badge">{{image.rating}}</span>
            </li>
          </ul>
        </div>

        <div class='col-md-7 col-md-offset-1'>
          <div class='featImageDisplay' style="background-image: url({{featImage.url}})">
            <-- click an image
          </div>
          <div class='col-md-5'>
            <h3><span class="featImageName leftAlign">{{featImage.name}}</span></h3>
          </div>
          <div class='col-md-3'>
            <h3><span class="featImageRating rightAlign"></span></h3>
          </div>
          <div class='col-md-2 col-md-offset-1'>
            <div class="dropdown hidden">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Rating
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropup" aria-labelledby="dropdownMenu1">
                <li ng-repeat="i in [5, 4, 3, 2, 1]"><a href="#" ng-click='changeRating(i)'>{{i}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="controllers/ImagesController.js"></script>

    <script src="data/data.js"></script>
    <script src="app.js"></script>

    <link rel='stylesheet' href='styles/styles.css'>
    <link rel='stylesheet' href="bower_components/bootstrap/dist/css/bootstrap.css">
  </body>
</html>