.featImageDisplay {
  width: 600px;
  height: 400px;
  background-color: #eee;
  background-size: cover;
  font-size: 30px;
  color: #aaa;
  text-align: center;
  line-height: 400px;
}

.featImageRating {
  font-size: 18px;
}

.list-group-item {
  font-size: 18px;
}

.leftAlign {
  float: left;
}

.rightAlign {
  float: right;
}
