.featImageDisplay {
  width: 600px;
  height: 400px;
  background-color: #eee;
  background-size: cover;
  font-size: 30px;
  color: #aaa;
  text-align: center;
  line-height: 400px;
}

.featImageRating {
  font-size: 18px;
}

.list-group-item {
  font-size: 18px;
}

.leftAlign {
  float: left;
}

.rightAlign {
  float: right;
}

.newImageForm {
  padding: 10px 30px;
  margin-bottom: 10px;
  text-align: right;
  background-color: #eee;
}
.newImageForm label {
  padding-right: 10px;
}

form h4 {
  color: #333;
}

.dropdown {
  padding-top: 10px;
}
